.box button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #834a1c;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Sarala', sans-serif;
    letter-spacing: 0.05rem;
    color: #fff;
    margin: 20px 10px 0px 10px;
}

