@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #e2e2e2;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #834B1C #0c0c0c;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #0c0c0c;
}

*::-webkit-scrollbar-thumb {
  background-color: #834B1C;
  border-radius: 20px;
  border: 3px solid #0c0c0c;
}