
.title{
    text-align: center;
    font-family: 'Righteous', sans-serif;
    line-height: 60%;
    font-size: 2rem;
    letter-spacing: 0.15rem;
    color: #834a1c;
    margin-top: 5%;
    margin-bottom: 10%;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}